@charset "utf-8";
/* CSS Document */
* {
	display: border-box;
	margin: 0 auto;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	list-style: none;
	text-decoration: none;
}

body {
	background-image: linear-gradient(#f4f5f7 , #fff);
		
}

/********************************Mobile Response*********************************************/

.header-container {
	display: flex;
	flex-direction: column;
}

	.social-media-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		width: 100%;
		background-color: #212B3B;
	}
	.social-icon {
		align-content: center;
	}
	.social-icon > img {
		width: 45px;
		height: 45px;
	}

.social-icon > img:hover {
	transform: scale(1.25,1.25);
	transform-timing-function: ease-in;
}

.social-icon > img:active {
	transform: scale(.75,.75);
	transform-timing-function: ease-in;
}
.header-container > img {
	width: 50px;
	margin-top: 25px;
}

.header-container > h1 {
	font-size: 2.25em;
	color: #212B3B;
	text-transform: uppercase;
	border-bottom: 2px solid #212B3B;
}

.navigation-container {
	margin-bottom: 50px;
}

.main-navigation {
	text-transform: uppercase;
	width: 100%;
	font-size: 1.1em;
	color: #738192;
	word-spacing: .5em;
	margin-right: 5px;
}


.main-navigation:hover {
	color: #212B3B;
}
	
	.main-navigation:active {
		color: #a59784;
	}

.secondary-navigation-container {
	margin-bottom: 10px;
	width: 75%;
	display: flex;
	flex-direction: row;
}

.secondary-navigation {
	text-transform: lowercase;
	color: #212B3B;
	font-size: 1.1em;
	margin-right: 5%;
}

.secondary-navigation:hover {
	color: #738192;
}

.secondary-navigation:active {
	color: #A59784;
}

/**************Gallery*****************/
	
.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	margin: 20px auto;
}

.gal-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 99%;
}

.thumbnail:hover {
		box-shadow: 0 0 10px #738192;
}

.gal-img {
	width: 250px;
}

/**********************video gallery*****************************/
.video-block-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin: 50px auto;
}

.video-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
}

.video-container > h2 {
	text-transform: uppercase;
	font-weight: lighter;
	color: #212B3B;
	font-size: 1.5em;
	text-align: center;
	border-bottom: 2px solid #212B3B;
	margin: 5px auto;
}

.video {
	width: 90%;
}

.video-container > p {
	font-size: 1.05em;
	text-align: justify;
	color: #738192;
	width: 90%;
	line-height: 25px;
	margin: 50px auto;
}

.video-container > ul {
	font-size: 1.25em;
	font-style: oblique;
	color: #738192;
	margin-left: 5%;
}

/**********************Music gallery***************************/

.music-block-container {
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	max-width: 700px;
	margin: 50px auto;
}

.music-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.music-player {
	overflow: hidden;
}

.music-content {
	width: 350px;
	height: 350px;
	overflow: hidden;
}

.music-content > h3, p{
	text-align: center;
}

.music-content > h3 {
	font-size: 1.25em;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: .15em;
	width: 350px;
	border-top: 1px solid #212B3B;
	border-bottom: 2px solid #212B3B;
	margin: 10px auto;
}

.music-content > p {
	width: 90%;
	text-align: justify;
	font-weight: bolder;
	color:#738192;
	margin-top: 25px;
	
}

	/******************Footer***********************/
	
	footer {
	background-color: #212b3b;
	height: 80px;
	overflow: hidden
}

	h6 {
	width: 100%;
	text-align: center;
	color: white;
	font-size: 1.25em;
	margin-top: 25px;
}
	h6 > img {
		width: 25px;
	}
	
	footer > p {
		color: #738192;
		text-align: center;
		font-size: .75em;
	}

/********************************Tablet Large Phone*********************************************/

@media only screen and (min-width: 600px) {
	

	.gal-img {
		width: 300px;
	}
	
	/*************video gallery*******************/


.video-container > h2 {
	font-size: 1.75em;
	letter-spacing: .10em;
	width: 560px;
}

.video {
	width: 560px;
}

.video-container > p {
	font-size: 1.35em;
	text-align: justify;
	width: 75%;
	line-height: 35px;
	margin: 30px auto;
}

.video-container > ul {
	font-size: 1.25em;
	font-style: oblique;
	margin-left: 10%;
	}
	
	/**********music gallery -- does not seem to need called out and changed in media query due to equal block spacing layout**********/
}


/********************************Desktop Response*********************************************/

@media only screen and (min-width: 992px) {
	
	.social-media-container {
		display: block;
		position: fixed;
		width: 50px;
		background-color: transparent;
		margin:  400px 0;
		margin-left: 8px;
	}
	
		.header-container {
		box-shadow: 0px 2px 5px #738192;
	}

	.gal-container {
		width: 92%;
	}
	.gal-img {
		width: 400px;
	}
		/*************video gallery*******************/


.video-container > h2 {
	font-size: 2em;
	letter-spacing: .20em;
	width: 560px;
}

.video {
	width: 560px;
}

.video-container > p {
	width: 560px;
	line-height: 35px;
	margin: 30px auto;
}

.video-container > ul {
	font-size: 1.25em;
	font-style: oblique;

}
}